---
---

<div class="row">

  <!--Badge-->
  <div class="col-sm-2 abbr">
  {% if entry.abbr %}
    <abbr class="badge">{{entry.abbr}}</abbr>
  {% elsif entry.publi %}
    <pubtype class="badge">{{entry.publi}}</pubtype>
  {% endif %}
  </div>

  <!--Citation-->
  <div id="{{entry.key}}" class="col-sm-8">

    {{reference}}

    <div class="links">
      {% if entry.html %}
        <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button" target="_blank">HTML</a>
      {% endif %}
      {% if entry.pdf %}
        {% if entry.pdf contains '://' %}
          <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
        {% else %}
          <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
        {% endif %}
      {% endif %}
    </div>

  </div>

</div>